h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 26px;
    line-height: 1,5;
    letter-spacing: 1px;
    text-align: center 
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h1,p {color:rgb(0, 0, 0);} 
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #000000;
    text-shadow: 3px 3px 1px rgb(255, 255, 255);
  }
  p {
    margin: 0;
    padding: 20px 0;
    color: #000000;
    text-shadow: 3px 1px 1px rgb(255, 255, 255);
  }